@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    box-sizing: border-box;
}

.title h1 {
    text-align: center;
}

.secao-especialidade {
    margin-top: 40px;
}

.container-titulo {
    padding: 0 20px;
}

.container-links-especialidades {
    padding: 0 20px;
    text-align: center;
}

.links-especialidades {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
}
 
.links-especialidades a {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #00cad1;
    margin: 0 10px 10px;
}

.links-especialidades a:hover {
    color: #0d6e71;
}

.title h1 {
    margin-left: 20px;
}

.box-tabela-especialista {
    display: flex;
    height: 240px;
    padding: 0 20px;
}

.box-tabela-especialista img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.tabela-especialistas thead tr {
    background-color: #00cad1;
    color: #fff;
}

.tabela-especialistas tbody tr:nth-of-type(2n+1) {
    background-color: #f1bcbc;
    border: 1px solid #f1f1f1;
}

.tabela-especialistas tbody tr:nth-of-type(even) {
    background-color: #f1d5d5;
}

.tabela-especialistas th, .tabela-especialistas td {
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: #fff;
  }



@media (max-width: 768px) {
    .box-tabela-especialista img {
      display: none;
    }
  
    .tabela-especialistas {
      width: 100%;
    }
  
    .box-tabela-especialista {
      height: auto;
      justify-content: center;
    }
  } 
  
@media ( max-width: 425px) {

    .topo-logo {
        margin-left: 20px;
    }

    .box-tabela-especialista {
      padding: 0;
    }

    .title h1 {
        margin-left: 20px;
        font-size: 22px;
    }
  }


